nodered_flow/flows.json
[
    {
        "id": "384592f97b4199b4",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "83c4bf28bb42033d",
        "type": "mqtt in",
        "z": "384592f97b4199b4",
        "name": "sub temperature",
        "topic": "sensors/temperature",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker_cfg",
        "inputs": 0,
        "x": 420,
        "y": 80,
        "wires": [
            [
                "e32916a23d248cab"
            ]
        ]
    },
    {
        "id": "e32916a23d248cab",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Parse Temp",
        "func": "var d = JSON.parse(msg.payload);\nglobal.set('last_temp', d.value);\nmsg.payload = d.value;\nmsg.topic = 'Temperature';\nreturn msg;",
        "outputs": 1,
        "x": 620,
        "y": 80,
        "wires": [
            [
                "086d374b24bd65a3",
                "5607825754bdc572",
                "0132bc64103b420d"
            ]
        ]
    },
    {
        "id": "086d374b24bd65a3",
        "type": "ui_gauge",
        "z": "384592f97b4199b4",
        "name": "Temperature",
        "group": "grp_gauges",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}°C",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3505"
        ],
        "seg1": 25,
        "seg2": 35,
        "x": 850,
        "y": 60,
        "wires": []
    },
    {
        "id": "0132bc64103b420d",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Temp Alert",
        "func": "var threshold = flow.get('temp_max') || 30;\nif (msg.payload > threshold) {\n  var a = {payload: '🔴 HIGH TEMPERATURE: ' + msg.payload + '°C', topic: new Date().toLocaleTimeString()};\n  return [a, a];\n}\nreturn [null,null];",
        "outputs": 2,
        "x": 620,
        "y": 150,
        "wires": [
            [
                "d7d4ec1451fc250a"
            ],
            [
                "f701a02fbccef51b"
            ]
        ]
    },
    {
        "id": "460511716e91cf6d",
        "type": "mqtt in",
        "z": "384592f97b4199b4",
        "name": "sub humidity",
        "topic": "sensors/humidity",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker_cfg",
        "inputs": 0,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "e659f13d99e01e0b"
            ]
        ]
    },
    {
        "id": "e659f13d99e01e0b",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Parse Hum",
        "func": "var d = JSON.parse(msg.payload);\nglobal.set('last_hum', d.value);\nmsg.payload = d.value;\nmsg.topic = 'Humidity';\nreturn msg;",
        "outputs": 1,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "ddf5fd6f82c929b0",
                "5607825754bdc572"
            ]
        ]
    },
    {
        "id": "ddf5fd6f82c929b0",
        "type": "ui_gauge",
        "z": "384592f97b4199b4",
        "name": "Humidity",
        "group": "grp_gauges",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#ca3505",
            "#e6e600",
            "#00b500"
        ],
        "seg1": 30,
        "seg2": 60,
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "5607825754bdc572",
        "type": "ui_chart",
        "z": "384592f97b4199b4",
        "name": "Temp & Hum Chart",
        "group": "grp_chart",
        "order": 1,
        "width": "12",
        "height": "4",
        "label": "Temperature & Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": 0,
        "ymax": 100,
        "removeOlder": 1,
        "removeOlderPoints": "60",
        "removeOlderUnit": "3600",
        "colors": [
            "#e74c3c",
            "#3498db"
        ],
        "outputs": 1,
        "x": 850,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "bdb88a381fb96352",
        "type": "mqtt in",
        "z": "384592f97b4199b4",
        "name": "sub light",
        "topic": "sensors/light",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker_cfg",
        "inputs": 0,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "8c6b7d669f572b9e"
            ]
        ]
    },
    {
        "id": "8c6b7d669f572b9e",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Parse Light",
        "func": "var d = JSON.parse(msg.payload);\nglobal.set('last_light', d.value);\nmsg.payload = d.value;\nreturn msg;",
        "outputs": 1,
        "x": 620,
        "y": 340,
        "wires": [
            [
                "bd88e6e706f8fff1",
                "a5c961bfd49283f0"
            ]
        ]
    },
    {
        "id": "bd88e6e706f8fff1",
        "type": "ui_gauge",
        "z": "384592f97b4199b4",
        "name": "Light Level",
        "group": "grp_gauges",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Light Level",
        "label": "raw",
        "format": "{{value}}",
        "min": 0,
        "max": 4095,
        "colors": [
            "#1a237e",
            "#e6e600",
            "#ffff00"
        ],
        "seg1": 500,
        "seg2": 2000,
        "x": 850,
        "y": 320,
        "wires": []
    },
    {
        "id": "a5c961bfd49283f0",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Light Alert",
        "func": "var threshold = flow.get('light_min') || 2000;\nif (msg.payload < threshold) {\n  var a = {payload: '🌑 LOW LIGHT: ' + msg.payload, topic: new Date().toLocaleTimeString()};\n  return [a, a];\n}\nreturn [null,null];",
        "outputs": 2,
        "x": 620,
        "y": 400,
        "wires": [
            [
                "d7d4ec1451fc250a"
            ],
            [
                "f701a02fbccef51b"
            ]
        ]
    },
    {
        "id": "a3f904022ce0d953",
        "type": "mqtt in",
        "z": "384592f97b4199b4",
        "name": "sub motion",
        "topic": "sensors/motion",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker_cfg",
        "inputs": 0,
        "x": 420,
        "y": 480,
        "wires": [
            [
                "721424eba59e4c3c"
            ]
        ]
    },
    {
        "id": "721424eba59e4c3c",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Parse Motion",
        "func": "var d = JSON.parse(msg.payload);\nglobal.set('last_motion', d.detected);\nif (d.detected) {\n  var a = {payload: '🚨 MOTION DETECTED', topic: new Date().toLocaleTimeString()};\n  node.send([{payload:'🚨 Motion Detected'}, a, a]);\n} else {\n  node.send([{payload:'✅ No Motion'}, null, null]);\n}",
        "outputs": 3,
        "x": 630,
        "y": 480,
        "wires": [
            [
                "8b0ab8edb5bc7992"
            ],
            [
                "d7d4ec1451fc250a"
            ],
            [
                "f701a02fbccef51b"
            ]
        ]
    },
    {
        "id": "8b0ab8edb5bc7992",
        "type": "ui_text",
        "z": "384592f97b4199b4",
        "group": "grp_gauges",
        "order": 4,
        "width": "3",
        "height": "3",
        "name": "Motion Status",
        "label": "Motion",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 850,
        "y": 460,
        "wires": []
    },
    {
        "id": "42d562c614d07334",
        "type": "mqtt in",
        "z": "384592f97b4199b4",
        "name": "sub distance",
        "topic": "sensors/distance",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker_cfg",
        "inputs": 0,
        "x": 420,
        "y": 580,
        "wires": [
            [
                "57564ba99216f03d"
            ]
        ]
    },
    {
        "id": "57564ba99216f03d",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Parse Distance",
        "func": "var d = JSON.parse(msg.payload);\nglobal.set('last_dist', d.value);\nmsg.payload = d.value;\nreturn msg;",
        "outputs": 1,
        "x": 620,
        "y": 580,
        "wires": [
            [
                "882c9d8a6d4f1d3b",
                "b9f7bfaa3f11b905"
            ]
        ]
    },
    {
        "id": "882c9d8a6d4f1d3b",
        "type": "ui_gauge",
        "z": "384592f97b4199b4",
        "name": "Distance",
        "group": "grp_gauges",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Distance",
        "label": "cm",
        "format": "{{value}} cm",
        "min": 0,
        "max": 200,
        "colors": [
            "#ca3505",
            "#e6e600",
            "#00b500"
        ],
        "seg1": 20,
        "seg2": 60,
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "b9f7bfaa3f11b905",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Distance Alert",
        "func": "var threshold = flow.get('dist_min') || 20;\nif (msg.payload < threshold) {\n  var a = {payload: '⚠️ OBJECT TOO CLOSE: ' + msg.payload + ' cm', topic: new Date().toLocaleTimeString()};\n  return [a, a];\n}\nreturn [null,null];",
        "outputs": 2,
        "x": 630,
        "y": 640,
        "wires": [
            [
                "d7d4ec1451fc250a"
            ],
            [
                "f701a02fbccef51b"
            ]
        ]
    },
    {
        "id": "2b512e94e2074f1e",
        "type": "mqtt in",
        "z": "384592f97b4199b4",
        "name": "sub system/status",
        "topic": "system/status",
        "qos": "0",
        "datatype": "utf8",
        "broker": "mqtt_broker_cfg",
        "inputs": 0,
        "x": 430,
        "y": 740,
        "wires": [
            [
                "0de180325e199c28",
                "2331a66866b2a77c"
            ]
        ]
    },
    {
        "id": "0de180325e199c28",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Format Status",
        "func": "var d = JSON.parse(msg.payload);\nmsg.payload = '⏱ Uptime: ' + d.uptime + 's  |  📶 RSSI: ' + d.rssi + ' dBm  |  🧠 Free Heap: ' + d.free_memory + ' bytes';\nreturn msg;",
        "outputs": 1,
        "x": 670,
        "y": 720,
        "wires": [
            [
                "896cd67ecbd9f6f6"
            ]
        ]
    },
    {
        "id": "896cd67ecbd9f6f6",
        "type": "ui_text",
        "z": "384592f97b4199b4",
        "group": "grp_status",
        "order": 1,
        "width": "12",
        "height": "1",
        "name": "ESP32 Status",
        "label": "ESP32",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 890,
        "y": 720,
        "wires": []
    },
    {
        "id": "2331a66866b2a77c",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Reset Watchdog",
        "func": "flow.set('last_heartbeat', Date.now());\nreturn null;",
        "outputs": 1,
        "x": 680,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "96c12d20bb59594e",
        "type": "inject",
        "z": "384592f97b4199b4",
        "name": "Check Every 5s",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 3,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 840,
        "wires": [
            [
                "80cbdbc9b3be32f9"
            ]
        ]
    },
    {
        "id": "80cbdbc9b3be32f9",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Watchdog Check",
        "func": "var last = flow.get('last_heartbeat') || 0;\nvar diff = Date.now() - last;\nif (last === 0) {\n  msg.payload = '⏳ Waiting for ESP32...';\n} else if (diff > 30000) {\n  msg.payload = '❌ ESP32 OFFLINE — No heartbeat for ' + Math.round(diff/1000) + 's';\n} else {\n  msg.payload = '✅ ESP32 Online — Last seen ' + Math.round(diff/1000) + 's ago';\n}\nreturn msg;",
        "outputs": 1,
        "x": 660,
        "y": 840,
        "wires": [
            [
                "348bb20ad91d5e3d"
            ]
        ]
    },
    {
        "id": "348bb20ad91d5e3d",
        "type": "ui_text",
        "z": "384592f97b4199b4",
        "group": "grp_status",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Connection Status",
        "label": "Connection",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 900,
        "y": 840,
        "wires": []
    },
    {
        "id": "d7d4ec1451fc250a",
        "type": "ui_toast",
        "z": "384592f97b4199b4",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Alert",
        "name": "Alert Banner",
        "x": 890,
        "y": 500,
        "wires": []
    },
    {
        "id": "f701a02fbccef51b",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Log Alert",
        "func": "var log = global.get('alert_log') || [];\n\nlog.unshift({\n    \"Time\": new Date().toLocaleTimeString(),\n    \"Message\": msg.payload\n});\n\nif (log.length > 50) log = log.slice(0, 50);\nglobal.set('alert_log', log);\n\nmsg.payload = log;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 660,
        "wires": [
            [
                "2dcd211f285ea8b0"
            ]
        ]
    },
    {
        "id": "2dcd211f285ea8b0",
        "type": "ui_table",
        "z": "384592f97b4199b4",
        "group": "grp_alertlog",
        "name": "Alert Log",
        "order": 1,
        "width": "12",
        "height": "8",
        "columns": [
            {
                "field": "Time",
                "title": "Time",
                "width": "120",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Message",
                "title": "Message",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1080,
        "y": 560,
        "wires": []
    },
    {
        "id": "cca9f47c23cdf7e9",
        "type": "ui_switch",
        "z": "384592f97b4199b4",
        "name": "Red LED",
        "label": "🔴 Red LED",
        "group": "grp_manual",
        "order": 1,
        "width": "3",
        "height": "1",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "x": 420,
        "y": 960,
        "wires": [
            [
                "e3f36d8d6755024a"
            ]
        ]
    },
    {
        "id": "e3f36d8d6755024a",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Red LED Payload",
        "func": "msg.payload = JSON.stringify({state: msg.payload ? 'on' : 'off', color: 'red'});\nreturn msg;",
        "outputs": 1,
        "x": 630,
        "y": 960,
        "wires": [
            [
                "439240b2f284be04"
            ]
        ]
    },
    {
        "id": "15b2d74037813592",
        "type": "ui_switch",
        "z": "384592f97b4199b4",
        "name": "Orange LED",
        "label": "🟠 Orange LED",
        "group": "grp_manual",
        "order": 2,
        "width": "3",
        "height": "1",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "x": 420,
        "y": 1020,
        "wires": [
            [
                "f1b26c358c16c7c7"
            ]
        ]
    },
    {
        "id": "f1b26c358c16c7c7",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Orange LED Payload",
        "func": "msg.payload = JSON.stringify({state: msg.payload ? 'on' : 'off', color: 'orange'});\nreturn msg;",
        "outputs": 1,
        "x": 635,
        "y": 1020,
        "wires": [
            [
                "439240b2f284be04"
            ]
        ]
    },
    {
        "id": "36f075a4c711955a",
        "type": "ui_switch",
        "z": "384592f97b4199b4",
        "name": "Green LED",
        "label": "🟢 Green LED",
        "group": "grp_manual",
        "order": 3,
        "width": "3",
        "height": "1",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "x": 420,
        "y": 1080,
        "wires": [
            [
                "ce1b73e089567be9"
            ]
        ]
    },
    {
        "id": "ce1b73e089567be9",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Green LED Payload",
        "func": "msg.payload = JSON.stringify({state: msg.payload ? 'on' : 'off', color: 'green'});\nreturn msg;",
        "outputs": 1,
        "x": 630,
        "y": 1080,
        "wires": [
            [
                "439240b2f284be04"
            ]
        ]
    },
    {
        "id": "439240b2f284be04",
        "type": "mqtt out",
        "z": "384592f97b4199b4",
        "name": "Publish LED",
        "topic": "actuators/led",
        "qos": "0",
        "retain": "",
        "broker": "mqtt_broker_cfg",
        "x": 870,
        "y": 1020,
        "wires": []
    },
    {
        "id": "09840aa3f97934f0",
        "type": "ui_switch",
        "z": "384592f97b4199b4",
        "name": "Buzzer",
        "label": "🔔 Buzzer",
        "group": "grp_manual",
        "order": 4,
        "width": "3",
        "height": "1",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "x": 420,
        "y": 1140,
        "wires": [
            [
                "c279d6c19faa7e4e"
            ]
        ]
    },
    {
        "id": "c279d6c19faa7e4e",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Buzzer Payload",
        "func": "msg.payload = JSON.stringify({state: msg.payload ? 'on' : 'off', duration: 2000});\nreturn msg;",
        "outputs": 1,
        "x": 630,
        "y": 1140,
        "wires": [
            [
                "2e545943dc1553de"
            ]
        ]
    },
    {
        "id": "2e545943dc1553de",
        "type": "mqtt out",
        "z": "384592f97b4199b4",
        "name": "Publish Buzzer",
        "topic": "actuators/buzzer",
        "qos": "0",
        "retain": "",
        "broker": "mqtt_broker_cfg",
        "x": 870,
        "y": 1140,
        "wires": []
    },
    {
        "id": "851f533a2637781e",
        "type": "ui_switch",
        "z": "384592f97b4199b4",
        "name": "Relay",
        "label": "⚡ Relay",
        "group": "grp_manual",
        "order": 5,
        "width": "3",
        "height": "1",
        "onvalue": "true",
        "onvalueType": "bool",
        "offvalue": "false",
        "offvalueType": "bool",
        "x": 420,
        "y": 1200,
        "wires": [
            [
                "58fca199cb4ac9f1"
            ]
        ]
    },
    {
        "id": "58fca199cb4ac9f1",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Relay Payload",
        "func": "msg.payload = JSON.stringify({state: msg.payload ? 'on' : 'off'});\nreturn msg;",
        "outputs": 1,
        "x": 630,
        "y": 1200,
        "wires": [
            [
                "9e57a8f25d9a9080"
            ]
        ]
    },
    {
        "id": "9e57a8f25d9a9080",
        "type": "mqtt out",
        "z": "384592f97b4199b4",
        "name": "Publish Relay",
        "topic": "actuators/relay",
        "qos": "0",
        "retain": "",
        "broker": "mqtt_broker_cfg",
        "x": 870,
        "y": 1200,
        "wires": []
    },
    {
        "id": "a8d0b4f747e2dfdd",
        "type": "ui_slider",
        "z": "384592f97b4199b4",
        "name": "Servo Angle",
        "label": "🔧 Servo Angle (0–180°)",
        "tooltip": "",
        "group": "grp_manual",
        "order": 6,
        "width": "6",
        "height": "1",
        "outs": "all",
        "min": 0,
        "max": 180,
        "step": 1,
        "x": 430,
        "y": 1260,
        "wires": [
            [
                "8c292e5f4d9360a7"
            ]
        ]
    },
    {
        "id": "8c292e5f4d9360a7",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Servo Payload",
        "func": "msg.payload = JSON.stringify({angle: msg.payload});\nreturn msg;",
        "outputs": 1,
        "x": 630,
        "y": 1260,
        "wires": [
            [
                "f80ae12134826d04"
            ]
        ]
    },
    {
        "id": "f80ae12134826d04",
        "type": "mqtt out",
        "z": "384592f97b4199b4",
        "name": "Publish Servo",
        "topic": "actuators/servo",
        "qos": "0",
        "retain": "",
        "broker": "mqtt_broker_cfg",
        "x": 870,
        "y": 1260,
        "wires": []
    },
    {
        "id": "750de16d3bf259d1",
        "type": "ui_numeric",
        "z": "384592f97b4199b4",
        "name": "Temp Threshold",
        "label": "🌡 Temp Max (°C)",
        "tooltip": "Default 30",
        "group": "grp_thresh",
        "order": 1,
        "width": "4",
        "height": "1",
        "wrap": false,
        "format": "{{value}}",
        "min": 0,
        "max": 60,
        "step": 1,
        "x": 440,
        "y": 1380,
        "wires": [
            [
                "659ff207e0520bbe"
            ]
        ]
    },
    {
        "id": "659ff207e0520bbe",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Set Temp Threshold",
        "func": "flow.set('temp_max', msg.payload);\nmsg.payload = JSON.stringify({temp_max: msg.payload, light_min: flow.get('light_min')||2000, dist_min: flow.get('dist_min')||20});\nreturn msg;",
        "outputs": 1,
        "x": 680,
        "y": 1380,
        "wires": [
            [
                "d074886760d31de0"
            ]
        ]
    },
    {
        "id": "5e16d5fcaf5650e4",
        "type": "ui_numeric",
        "z": "384592f97b4199b4",
        "name": "Light Threshold",
        "label": "💡 Light Min (raw)",
        "tooltip": "Default 2000",
        "group": "grp_thresh",
        "order": 2,
        "width": "4",
        "height": "1",
        "wrap": false,
        "format": "{{value}}",
        "min": 0,
        "max": 4095,
        "step": 50,
        "x": 440,
        "y": 1440,
        "wires": [
            [
                "838f18201fc796f1"
            ]
        ]
    },
    {
        "id": "838f18201fc796f1",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Set Light Threshold",
        "func": "flow.set('light_min', msg.payload);\nmsg.payload = JSON.stringify({temp_max: flow.get('temp_max')||30, light_min: msg.payload, dist_min: flow.get('dist_min')||20});\nreturn msg;",
        "outputs": 1,
        "x": 680,
        "y": 1440,
        "wires": [
            [
                "d074886760d31de0"
            ]
        ]
    },
    {
        "id": "8c9a033d042fc011",
        "type": "ui_numeric",
        "z": "384592f97b4199b4",
        "name": "Dist Threshold",
        "label": "📏 Distance Min (cm)",
        "tooltip": "Default 20",
        "group": "grp_thresh",
        "order": 3,
        "width": "4",
        "height": "1",
        "wrap": false,
        "format": "{{value}}",
        "min": 1,
        "max": 200,
        "step": 1,
        "x": 440,
        "y": 1500,
        "wires": [
            [
                "837a05a9d3923e5f"
            ]
        ]
    },
    {
        "id": "837a05a9d3923e5f",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Set Dist Threshold",
        "func": "flow.set('dist_min', msg.payload);\nmsg.payload = JSON.stringify({temp_max: flow.get('temp_max')||30, light_min: flow.get('light_min')||2000, dist_min: msg.payload});\nreturn msg;",
        "outputs": 1,
        "x": 680,
        "y": 1500,
        "wires": [
            [
                "d074886760d31de0"
            ]
        ]
    },
    {
        "id": "d074886760d31de0",
        "type": "mqtt out",
        "z": "384592f97b4199b4",
        "name": "Publish Thresholds",
        "topic": "config/thresholds",
        "qos": "0",
        "retain": "true",
        "broker": "mqtt_broker_cfg",
        "x": 920,
        "y": 1440,
        "wires": []
    },
    {
        "id": "0b82cbc405707da4",
        "type": "inject",
        "z": "384592f97b4199b4",
        "name": "Log Every 30s",
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 430,
        "y": 1620,
        "wires": [
            [
                "f5af5d3ee71f5321"
            ]
        ]
    },
    {
        "id": "f5af5d3ee71f5321",
        "type": "function",
        "z": "384592f97b4199b4",
        "name": "Append to Log",
        "func": "var log = global.get('sensor_log') || [];\nlog.push({\n  ts:     Date.now(),\n  time:   new Date().toISOString(),\n  temp:   global.get('last_temp')   || 0,\n  hum:    global.get('last_hum')    || 0,\n  light:  global.get('last_light')  || 0,\n  motion: global.get('last_motion') || false,\n  dist:   global.get('last_dist')   || 0\n});\nvar cutoff = Date.now() - 86400000;\nlog = log.filter(function(r){ return r.ts > cutoff; });\nglobal.set('sensor_log', log);\nreturn null;",
        "outputs": 1,
        "x": 650,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "ui_download_link",
        "type": "ui_template",
        "z": "384592f97b4199b4",
        "group": "grp_status",
        "name": "CSV Download Link",
        "order": 4,
        "width": "4",
        "height": "1",
        "format": "<a href='http://localhost:1880/download-csv' target='_blank' style='display:block;background:#2196F3;color:white;text-align:center;padding:8px;border-radius:4px;text-decoration:none;font-weight:bold;'>⬇ Download CSV</a>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "x": 1100,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_broker_cfg",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "NodeRED_SmartEnv_001_Mme",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "grp_gauges",
        "type": "ui_group",
        "name": "Sensor Readings",
        "tab": "tab_main",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "grp_chart",
        "type": "ui_group",
        "name": "Live Chart",
        "tab": "tab_main",
        "order": 2,
        "disp": true,
        "width": "12"
    },
    {
        "id": "grp_status",
        "type": "ui_group",
        "name": "ESP32 Info",
        "tab": "tab_status",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "grp_alertlog",
        "type": "ui_group",
        "name": "Alert History",
        "tab": "tab_alerts",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "grp_manual",
        "type": "ui_group",
        "name": "Manual Override",
        "tab": "tab_control",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "grp_thresh",
        "type": "ui_group",
        "name": "Thresholds",
        "tab": "tab_control",
        "order": 2,
        "disp": true,
        "width": "12"
    },
    {
        "id": "tab_main",
        "type": "ui_tab",
        "name": "📊 Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "tab_status",
        "type": "ui_tab",
        "name": "📶 Status",
        "icon": "wifi",
        "order": 4
    },
    {
        "id": "tab_alerts",
        "type": "ui_tab",
        "name": "🚨 Alerts",
        "icon": "warning",
        "order": 3
    },
    {
        "id": "tab_control",
        "type": "ui_tab",
        "name": "🎛 Control",
        "icon": "settings",
        "order": 2
    },
    {
        "id": "b48d6999f7d7e81f",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-ui-table": "0.4.5"
        }
    }
]
