nodered_flow/flows.json
[
    {
        "id": "be797c4777cb20ac",
        "type": "tab",
        "label": "Smart Environment",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a4415b21a2fb395f",
        "type": "mqtt in",
        "z": "be797c4777cb20ac",
        "name": "sub temperature",
        "topic": "sensors/temperature",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker1",
        "inputs": 0,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "65653ee51407238a"
            ]
        ]
    },
    {
        "id": "65653ee51407238a",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Parse Temp",
        "func": "try {\n    var d = JSON.parse(msg.payload);\n    var v = parseFloat(d.value);\n    if (isNaN(v)) return null;\n    global.set('last_temp', v);\n    msg.payload = v;\n    msg.topic = 'Temperature';\n    return msg;\n} catch(e) { return null; }",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 80,
        "wires": [
            [
                "2f44998d452872de",
                "37c0dd607e6671ee",
                "ea61e02e2880675f",
                "a67dadc0bfc2155b"
            ]
        ]
    },
    {
        "id": "ea61e02e2880675f",
        "type": "ui_gauge",
        "z": "be797c4777cb20ac",
        "name": "Temperature",
        "group": "grp_sensors",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}°C",
        "min": 0,
        "max": 50,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3505"
        ],
        "seg1": 25,
        "seg2": 35,
        "x": 580,
        "y": 40,
        "wires": []
    },
    {
        "id": "37c0dd607e6671ee",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Temp Alert Check",
        "func": "var thr = global.get('thr_temp') || 30;\nif (msg.payload > thr) {\n    msg.payload = 'HIGH TEMPERATURE: ' + msg.payload.toFixed(1) + '°C';\n    msg.topic = new Date().toLocaleTimeString();\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 100,
        "wires": [
            [
                "816e98bdca71c100"
            ]
        ]
    },
    {
        "id": "ed3c38891c9b6662",
        "type": "mqtt in",
        "z": "be797c4777cb20ac",
        "name": "sub humidity",
        "topic": "sensors/humidity",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker1",
        "inputs": 0,
        "x": 100,
        "y": 200,
        "wires": [
            [
                "2feae34d9144a832"
            ]
        ]
    },
    {
        "id": "2feae34d9144a832",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Parse Hum",
        "func": "try {\n    var d = JSON.parse(msg.payload);\n    var v = parseFloat(d.value);\n    if (isNaN(v)) return null;\n    global.set('last_hum', v);\n    msg.payload = v;\n    msg.topic = 'Humidity';\n    return msg;\n} catch(e) { return null; }",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 200,
        "wires": [
            [
                "2f44998d452872de",
                "fc1314e5339519e5"
            ]
        ]
    },
    {
        "id": "fc1314e5339519e5",
        "type": "ui_gauge",
        "z": "be797c4777cb20ac",
        "name": "Humidity",
        "group": "grp_sensors",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}%",
        "min": 0,
        "max": 100,
        "colors": [
            "#ca3505",
            "#e6e600",
            "#00b500"
        ],
        "seg1": 30,
        "seg2": 60,
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "846bc3fad936da56",
        "type": "mqtt in",
        "z": "be797c4777cb20ac",
        "name": "sub light",
        "topic": "sensors/light",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker1",
        "inputs": 0,
        "x": 100,
        "y": 320,
        "wires": [
            [
                "ce745e1880f19f96"
            ]
        ]
    },
    {
        "id": "ce745e1880f19f96",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Parse Light",
        "func": "try {\n    var d = JSON.parse(msg.payload);\n    var v = parseInt(d.value);\n    if (isNaN(v)) return null;\n    global.set('last_light', v);\n    msg.payload = v;\n    return msg;\n} catch(e) { return null; }",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 280,
        "wires": [
            [
                "98dc76e26e8f57a4",
                "e93cd3c02022e14f"
            ]
        ]
    },
    {
        "id": "e93cd3c02022e14f",
        "type": "ui_gauge",
        "z": "be797c4777cb20ac",
        "name": "Light Level",
        "group": "grp_sensors",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Light Level",
        "label": "raw",
        "format": "{{value}}",
        "min": 0,
        "max": 4095,
        "colors": [
            "#1a237e",
            "#e6e600",
            "#ffff00"
        ],
        "seg1": 500,
        "seg2": 2000,
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "98dc76e26e8f57a4",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Light Alert Check",
        "func": "var thr = global.get('thr_light') || 2000;\nif (msg.payload < thr) {\n    msg.payload = ' LOW LIGHT: ' + msg.payload;\n    msg.topic = new Date().toLocaleTimeString();\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 300,
        "wires": [
            [
                "816e98bdca71c100"
            ]
        ]
    },
    {
        "id": "1dbb4ef6d3db6e1b",
        "type": "mqtt in",
        "z": "be797c4777cb20ac",
        "name": "sub motion",
        "topic": "sensors/motion",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker1",
        "inputs": 0,
        "x": 80,
        "y": 420,
        "wires": [
            [
                "8fa8a0e11c6554df"
            ]
        ]
    },
    {
        "id": "8fa8a0e11c6554df",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Parse Motion",
        "func": "// Lab 4: parse JSON payload from ESP32\n// Assignment topic: sensors/motion  payload: {detected: true/false}\ntry {\n    var d = JSON.parse(msg.payload);\n    global.set('last_motion', d.detected);\n    if (d.detected) {\n        node.send([\n            { payload: ' Motion Detected' },\n            { payload: ' MOTION DETECTED', topic: new Date().toLocaleTimeString() }\n        ]);\n    } else {\n        node.send([{ payload: ' No Motion' }, null]);\n    }\n} catch(e) {}",
        "outputs": 2,
        "x": 290,
        "y": 400,
        "wires": [
            [
                "44c84af8bb465ece"
            ],
            [
                "816e98bdca71c100"
            ]
        ]
    },
    {
        "id": "44c84af8bb465ece",
        "type": "ui_text",
        "z": "be797c4777cb20ac",
        "group": "grp_sensors",
        "order": 4,
        "width": "3",
        "height": "3",
        "name": "Motion",
        "label": "Motion Status",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "31167118d46a6af8",
        "type": "mqtt in",
        "z": "be797c4777cb20ac",
        "name": "sub distance",
        "topic": "sensors/distance",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker1",
        "inputs": 0,
        "x": 110,
        "y": 520,
        "wires": [
            [
                "d4f173610a340a69"
            ]
        ]
    },
    {
        "id": "d4f173610a340a69",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Parse Distance",
        "func": "try {\n    var d = JSON.parse(msg.payload);\n    var v = parseFloat(d.value);\n    if (isNaN(v)) return null;\n    global.set('last_dist', v);\n    msg.payload = v;\n    return msg;\n} catch(e) { return null; }",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 500,
        "wires": [
            [
                "10a8120f4644153f",
                "cec2b2fa5e00a626"
            ]
        ]
    },
    {
        "id": "cec2b2fa5e00a626",
        "type": "ui_gauge",
        "z": "be797c4777cb20ac",
        "name": "Distance",
        "group": "grp_sensors",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Distance",
        "label": "cm",
        "format": "{{value}} cm",
        "min": 0,
        "max": 200,
        "colors": [
            "#ca3505",
            "#e6e600",
            "#00b500"
        ],
        "seg1": 20,
        "seg2": 60,
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "10a8120f4644153f",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Distance Alert Check",
        "func": "var thr = global.get('thr_dist') || 20;\nif (msg.payload < thr) {\n    msg.payload = 'OBJECT TOO CLOSE: ' + msg.payload.toFixed(1) + ' cm';\n    msg.topic = new Date().toLocaleTimeString();\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 520,
        "wires": [
            [
                "816e98bdca71c100"
            ]
        ]
    },
    {
        "id": "2f44998d452872de",
        "type": "ui_chart",
        "z": "be797c4777cb20ac",
        "name": "Temp & Hum Chart",
        "group": "grp_chart",
        "order": 1,
        "width": "12",
        "height": "4",
        "label": "Temperature & Humidity (Live)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data...",
        "dot": false,
        "ymin": 0,
        "ymax": 100,
        "removeOlder": 1,
        "removeOlderPoints": "60",
        "removeOlderUnit": "3600",
        "colors": [
            "#e74c3c",
            "#3498db"
        ],
        "outputs": 1,
        "x": 570,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a67dadc0bfc2155b",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Green LED Auto Rule",
        "func": "var temp   = global.get('last_temp');\nvar light  = global.get('last_light');\nvar motion = global.get('last_motion') || false;\nvar dist   = global.get('last_dist');\nvar thr_t  = global.get('thr_temp')   || 30;\nvar thr_l  = global.get('thr_light')  || 2000;\nvar thr_d  = global.get('thr_dist')   || 20;\n\nif (temp === null || temp === undefined) return null;\nif (light === null || light === undefined) light = 9999;\nif (dist === null || dist === undefined) dist = 9999;\n\nvar allOk = (temp <= thr_t) && (light >= thr_l) && !motion && (dist >= thr_d);\nmsg.payload = JSON.stringify({ state: allOk ? 'on' : 'off', color: 'green' });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 80,
        "wires": [
            [
                "bd48fe07c03680e1"
            ]
        ]
    },
    {
        "id": "816e98bdca71c100",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Alert Handler",
        "func": "node.send([msg, msg, msg]);",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 340,
        "wires": [
            [
                "babf95e6cd0cc35e"
            ],
            [
                "137882aaa892b372"
            ],
            [
                "507b5ddd78867a02"
            ]
        ]
    },
    {
        "id": "babf95e6cd0cc35e",
        "type": "ui_toast",
        "z": "be797c4777cb20ac",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "Alert",
        "name": "Alert Banner",
        "x": 1210,
        "y": 180,
        "wires": []
    },
    {
        "id": "137882aaa892b372",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Log Alert",
        "func": "var log = global.get('alert_log') || [];\nlog.unshift({ Time: msg.topic || new Date().toLocaleTimeString(), Message: msg.payload });\nif (log.length > 50) log = log.slice(0, 50);\nglobal.set('alert_log', log);\nmsg.payload = log;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 280,
        "wires": [
            [
                "0ce722d667bac38a"
            ]
        ]
    },
    {
        "id": "0ce722d667bac38a",
        "type": "ui_table",
        "z": "be797c4777cb20ac",
        "group": "grp_alert",
        "name": "Alert History",
        "order": 1,
        "width": "12",
        "height": "8",
        "columns": [
            {
                "field": "Time",
                "title": "Time",
                "width": "150",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Message",
                "title": "Message",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 1390,
        "y": 280,
        "wires": []
    },
    {
        "id": "507b5ddd78867a02",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Telegram Notify",
        "func": "var token  = (global.get('tg_token') || '').trim();\nvar chatId = (global.get('tg_chat')  || '').trim();\nif (!token || !chatId) return null;\n\n\nvar key  = 'tg_cd_' + msg.payload.replace(/[^A-Z]/g, '').substring(0, 12);\nvar last = global.get(key) || 0;\nif (Date.now() - last < 60000) return null;\nglobal.set(key, Date.now());\n\nmsg.url     = 'https://api.telegram.org/bot' + token + '/sendMessage';\nmsg.method  = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify({\n    chat_id: chatId,\n    text: 'SmartEnv Alert\\n' + msg.payload + '\\n' + new Date().toLocaleTimeString()\n});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 360,
        "wires": [
            [
                "9498909e598cf17d"
            ]
        ]
    },
    {
        "id": "d6918923f4711592",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Telegram Test",
        "func": "var token  = (global.get('tg_token') || '').trim();\nvar chatId = (global.get('tg_chat')  || '').trim();\nif (!token || !chatId) {\n    node.warn('Set Bot Token and Chat ID first');\n    return null;\n}\nmsg.url     = 'https://api.telegram.org/bot' + token + '/sendMessage';\nmsg.method  = 'POST';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = JSON.stringify({\n    chat_id: chatId,\n    text: 'SmartEnv Test\\nTelegram is working!\\n' + new Date().toLocaleTimeString()\n});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 880,
        "wires": [
            [
                "9498909e598cf17d"
            ]
        ]
    },
    {
        "id": "9498909e598cf17d",
        "type": "http request",
        "z": "be797c4777cb20ac",
        "name": "HTTP Telegram",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 1400,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "5b4ed61502f0bcab",
        "type": "ui_text_input",
        "z": "be797c4777cb20ac",
        "name": "Bot Token",
        "label": "Bot Token",
        "tooltip": "From @BotFather on Telegram",
        "group": "grp_telegram",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "topicType": "str",
        "x": 260,
        "y": 820,
        "wires": [
            [
                "71f09cebebcdfc6e"
            ]
        ]
    },
    {
        "id": "71f09cebebcdfc6e",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Save Token",
        "func": "var t = (msg.payload || '').trim();\nif (t) global.set('tg_token', t);\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "f60720153c1d9b64",
        "type": "ui_text_input",
        "z": "be797c4777cb20ac",
        "name": "Chat ID",
        "label": "Chat ID",
        "tooltip": "From @userinfobot on Telegram",
        "group": "grp_telegram",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "topicType": "str",
        "x": 260,
        "y": 900,
        "wires": [
            [
                "5dc143cc501a1cf6"
            ]
        ]
    },
    {
        "id": "5dc143cc501a1cf6",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Save Chat ID",
        "func": "var c = (msg.payload || '').trim();\nif (c) global.set('tg_chat', c);\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "43fc2f28eb3ae394",
        "type": "ui_button",
        "z": "be797c4777cb20ac",
        "name": "Test Telegram",
        "group": "grp_telegram",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Send Test",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "test",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 1060,
        "y": 720,
        "wires": [
            [
                "d6918923f4711592"
            ]
        ]
    },
    {
        "id": "5595e0abdd9da227",
        "type": "ui_switch",
        "z": "be797c4777cb20ac",
        "name": "Red LED",
        "label": "Red LED",
        "tooltip": "",
        "group": "grp_manual",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "26297e695970b012"
            ]
        ]
    },
    {
        "id": "26297e695970b012",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Red LED fn",
        "func": "msg.payload = JSON.stringify({ state: msg.payload ? 'on' : 'off', color: 'red' });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 620,
        "wires": [
            [
                "bd48fe07c03680e1"
            ]
        ]
    },
    {
        "id": "2574db3d2e34a51e",
        "type": "ui_switch",
        "z": "be797c4777cb20ac",
        "name": "Yellow LED",
        "label": "Yellow LED",
        "tooltip": "",
        "group": "grp_manual",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "6f9bf57ffca38499"
            ]
        ]
    },
    {
        "id": "6f9bf57ffca38499",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Yellow LED fn",
        "func": "msg.payload = JSON.stringify({ state: msg.payload ? 'on' : 'off', color: 'orange' });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 680,
        "wires": [
            [
                "bd48fe07c03680e1"
            ]
        ]
    },
    {
        "id": "62a64fc311128183",
        "type": "ui_switch",
        "z": "be797c4777cb20ac",
        "name": "Green LED",
        "label": "Green LED",
        "tooltip": "",
        "group": "grp_manual",
        "order": 3,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "8b863bc3d86ab234"
            ]
        ]
    },
    {
        "id": "8b863bc3d86ab234",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Green LED fn",
        "func": "msg.payload = JSON.stringify({ state: msg.payload ? 'on' : 'off', color: 'green' });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 740,
        "wires": [
            [
                "bd48fe07c03680e1"
            ]
        ]
    },
    {
        "id": "bd48fe07c03680e1",
        "type": "mqtt out",
        "z": "be797c4777cb20ac",
        "name": "Publish LED",
        "topic": "actuators/led",
        "qos": "0",
        "retain": "",
        "broker": "broker1",
        "x": 1010,
        "y": 600,
        "wires": []
    },
    {
        "id": "9a2e5073d83ddd3a",
        "type": "ui_switch",
        "z": "be797c4777cb20ac",
        "name": "Buzzer",
        "label": "Buzzer",
        "tooltip": "",
        "group": "grp_manual",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "5c7a5c41f6caae94"
            ]
        ]
    },
    {
        "id": "5c7a5c41f6caae94",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Buzzer fn",
        "func": "msg.payload = JSON.stringify({ state: msg.payload ? 'on' : 'off', duration: 2000 });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 780,
        "wires": [
            [
                "5bdc14e6cd8c36d1"
            ]
        ]
    },
    {
        "id": "5bdc14e6cd8c36d1",
        "type": "mqtt out",
        "z": "be797c4777cb20ac",
        "name": "Publish Buzzer",
        "topic": "actuators/buzzer",
        "qos": "0",
        "retain": "",
        "broker": "broker1",
        "x": 680,
        "y": 760,
        "wires": []
    },
    {
        "id": "0e5396187f18f686",
        "type": "ui_switch",
        "z": "be797c4777cb20ac",
        "name": "Relay",
        "label": "Relay",
        "tooltip": "",
        "group": "grp_manual",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 120,
        "y": 860,
        "wires": [
            [
                "c34d11dea90560e6"
            ]
        ]
    },
    {
        "id": "c34d11dea90560e6",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Relay fn",
        "func": "msg.payload = JSON.stringify({ state: msg.payload ? 'on' : 'off' });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 860,
        "wires": [
            [
                "c94e148c33168030"
            ]
        ]
    },
    {
        "id": "c94e148c33168030",
        "type": "mqtt out",
        "z": "be797c4777cb20ac",
        "name": "Publish Relay",
        "topic": "actuators/relay",
        "qos": "0",
        "retain": "",
        "broker": "broker1",
        "x": 880,
        "y": 820,
        "wires": []
    },
    {
        "id": "2b716f44e7348da1",
        "type": "ui_slider",
        "z": "be797c4777cb20ac",
        "name": "Servo Angle",
        "label": "Servo Angle (0–180°)",
        "tooltip": "",
        "group": "grp_manual",
        "order": 6,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": 180,
        "step": 1,
        "x": 110,
        "y": 940,
        "wires": [
            [
                "9e58ec07e19f4959"
            ]
        ]
    },
    {
        "id": "9e58ec07e19f4959",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Servo fn",
        "func": "msg.payload = JSON.stringify({ angle: msg.payload });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 960,
        "wires": [
            [
                "0d681c4462eb2671"
            ]
        ]
    },
    {
        "id": "0d681c4462eb2671",
        "type": "mqtt out",
        "z": "be797c4777cb20ac",
        "name": "Publish Servo",
        "topic": "actuators/servo",
        "qos": "0",
        "retain": "",
        "broker": "broker1",
        "x": 580,
        "y": 920,
        "wires": []
    },
    {
        "id": "d906e5a6bad74eb7",
        "type": "ui_numeric",
        "z": "be797c4777cb20ac",
        "name": "Temp Max",
        "label": "Temp Max (°C)",
        "tooltip": "Default: 30",
        "group": "grp_thresh",
        "order": 1,
        "width": "4",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": 60,
        "step": 1,
        "className": "",
        "x": 120,
        "y": 1020,
        "wires": [
            [
                "3bf578361ec43fdc"
            ]
        ]
    },
    {
        "id": "3bf578361ec43fdc",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Save Temp Thr",
        "func": "global.set('thr_temp', msg.payload);\nmsg.payload = JSON.stringify({\n    temp_max:  msg.payload,\n    light_min: global.get('thr_light') || 2000,\n    dist_min:  global.get('thr_dist')  || 20\n});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1020,
        "wires": [
            [
                "97262314ea9910a7"
            ]
        ]
    },
    {
        "id": "5286cf86952d2b76",
        "type": "ui_numeric",
        "z": "be797c4777cb20ac",
        "name": "Light Min",
        "label": "Light Min (raw)",
        "tooltip": "Default: 2000",
        "group": "grp_thresh",
        "order": 2,
        "width": "4",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": 4095,
        "step": 50,
        "className": "",
        "x": 120,
        "y": 1080,
        "wires": [
            [
                "bad3309f3982fbf4"
            ]
        ]
    },
    {
        "id": "bad3309f3982fbf4",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Save Light Thr",
        "func": "global.set('thr_light', msg.payload);\nmsg.payload = JSON.stringify({\n    temp_max:  global.get('thr_temp')  || 30,\n    light_min: msg.payload,\n    dist_min:  global.get('thr_dist')  || 20\n});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1080,
        "wires": [
            [
                "97262314ea9910a7"
            ]
        ]
    },
    {
        "id": "c7a2b923463eece8",
        "type": "ui_numeric",
        "z": "be797c4777cb20ac",
        "name": "Dist Min",
        "label": "Distance Min (cm)",
        "tooltip": "Default: 20",
        "group": "grp_thresh",
        "order": 3,
        "width": "4",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": 1,
        "max": 200,
        "step": 1,
        "x": 120,
        "y": 1140,
        "wires": [
            [
                "b4039b5d6077ded2"
            ]
        ]
    },
    {
        "id": "b4039b5d6077ded2",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Save Dist Thr",
        "func": "global.set('thr_dist', msg.payload);\nmsg.payload = JSON.stringify({\n    temp_max:  global.get('thr_temp')  || 30,\n    light_min: global.get('thr_light') || 2000,\n    dist_min:  msg.payload\n});\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1140,
        "wires": [
            [
                "97262314ea9910a7"
            ]
        ]
    },
    {
        "id": "97262314ea9910a7",
        "type": "mqtt out",
        "z": "be797c4777cb20ac",
        "name": "Publish Thresholds",
        "topic": "config/thresholds",
        "qos": "0",
        "retain": "true",
        "broker": "broker1",
        "x": 620,
        "y": 1080,
        "wires": []
    },
    {
        "id": "92c970904eaed6ea",
        "type": "ui_numeric",
        "z": "be797c4777cb20ac",
        "name": "Report Interval",
        "label": "Report Interval (ms)",
        "tooltip": "Default: 2000  Min: 500",
        "group": "grp_thresh",
        "order": 4,
        "width": "4",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "format": "{{value}}",
        "min": 500,
        "max": 10000,
        "step": 500,
        "className": "",
        "x": 120,
        "y": 1200,
        "wires": [
            [
                "4dfab52a0d7fc190"
            ]
        ]
    },
    {
        "id": "4dfab52a0d7fc190",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Publish Interval",
        "func": "msg.payload = JSON.stringify({ value: msg.payload });\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1200,
        "wires": [
            [
                "f2c6cb692177775a"
            ]
        ]
    },
    {
        "id": "f2c6cb692177775a",
        "type": "mqtt out",
        "z": "be797c4777cb20ac",
        "name": "Publish Interval",
        "topic": "config/interval",
        "qos": "0",
        "retain": "true",
        "broker": "broker1",
        "x": 620,
        "y": 1200,
        "wires": []
    },
    {
        "id": "a4dc9277d2486e78",
        "type": "mqtt in",
        "z": "be797c4777cb20ac",
        "name": "sub system/status",
        "topic": "system/status",
        "qos": "0",
        "datatype": "utf8",
        "broker": "broker1",
        "inputs": 0,
        "x": 100,
        "y": 1320,
        "wires": [
            [
                "7327b0e7bf85b36a",
                "b880d5a208d54eab"
            ]
        ]
    },
    {
        "id": "7327b0e7bf85b36a",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Format Status",
        "func": "try {\n    var d = JSON.parse(msg.payload);\n    msg.payload = 'Uptime: ' + d.uptime + 's   |   RSSI: ' + d.rssi + ' dBm   |   Free Heap: ' + d.free_memory + ' bytes';\n    return msg;\n} catch(e) { return null; }",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1300,
        "wires": [
            [
                "f06ef8c22d993b38"
            ]
        ]
    },
    {
        "id": "f06ef8c22d993b38",
        "type": "ui_text",
        "z": "be797c4777cb20ac",
        "group": "grp_status",
        "order": 1,
        "width": "12",
        "height": "1",
        "name": "ESP32 Info",
        "label": "ESP32",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 600,
        "y": 1300,
        "wires": []
    },
    {
        "id": "b880d5a208d54eab",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Reset Watchdog",
        "func": "global.set('last_heartbeat', Date.now());\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "e473fe4061d939bd",
        "type": "inject",
        "z": "be797c4777cb20ac",
        "name": "Check Every 5s",
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1420,
        "wires": [
            [
                "19680250c51e898e"
            ]
        ]
    },
    {
        "id": "19680250c51e898e",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Watchdog Check",
        "func": "var last = global.get('last_heartbeat') || 0;\nvar diff = Date.now() - last;\nif (last === 0) {\n    msg.payload = 'Waiting for ESP32...';\n} else if (diff > 30000) {\n    msg.payload = 'ESP32 OFFLINE — No heartbeat for ' + Math.round(diff / 1000) + 's';\n} else {\n    msg.payload = 'ESP32 Online — Last seen ' + Math.round(diff / 1000) + 's ago';\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1420,
        "wires": [
            [
                "dffdd4f8eec3dfc7"
            ]
        ]
    },
    {
        "id": "dffdd4f8eec3dfc7",
        "type": "ui_text",
        "z": "be797c4777cb20ac",
        "group": "grp_status",
        "order": 2,
        "width": "12",
        "height": "1",
        "name": "Connection",
        "label": "Connection",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 600,
        "y": 1420,
        "wires": []
    },
    {
        "id": "8c3c772e17de09f3",
        "type": "inject",
        "z": "be797c4777cb20ac",
        "name": "Startup Init",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1480,
        "wires": [
            [
                "21868d5a55481e9f"
            ]
        ]
    },
    {
        "id": "21868d5a55481e9f",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Init Status Text",
        "func": "node.send([\n    { payload: 'Waiting for ESP32 heartbeat...' },\n    { payload: 'Waiting for ESP32...' }\n]);",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1480,
        "wires": [
            [
                "f06ef8c22d993b38"
            ],
            [
                "dffdd4f8eec3dfc7"
            ]
        ]
    },
    {
        "id": "2ce92e90c9534fde",
        "type": "inject",
        "z": "be797c4777cb20ac",
        "name": "Log Every 30s",
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1580,
        "wires": [
            [
                "d37f4f23a897e3b7"
            ]
        ]
    },
    {
        "id": "d37f4f23a897e3b7",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Append Log",
        "func": "var log   = global.get('sensor_log') || [];\nvar isNew = log.length === 0;\nvar entry = {\n    ts:     Date.now(),\n    time:   new Date().toISOString(),\n    temp:   global.get('last_temp')   || 0,\n    hum:    global.get('last_hum')    || 0,\n    light:  global.get('last_light')  || 0,\n    motion: global.get('last_motion') || false,\n    dist:   global.get('last_dist')   || 0\n};\nlog.push(entry);\n\nlog = log.filter(function(r) { return r.ts > Date.now() - 86400000; });\nglobal.set('sensor_log', log);\n\nvar row = entry.time + ',' + entry.temp + ',' + entry.hum + ',' +\n          entry.light + ',' + entry.motion + ',' + entry.dist + '\\n';\nif (isNew) {\n    msg.payload  = 'Timestamp,Temp_C,Humidity_pct,Light_raw,Motion,Distance_cm\\n' + row;\n    msg.overwrite = true;\n} else {\n    msg.payload   = row;\n    msg.overwrite = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 1580,
        "wires": [
            [
                "6945b4e6de91c075"
            ]
        ]
    },
    {
        "id": "6945b4e6de91c075",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "CSV Route",
        "func": "if (msg.overwrite) { node.send([msg, null]); }\nelse               { node.send([null, msg]); }",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1580,
        "wires": [
            [
                "7c3ed754d8a48ce3"
            ],
            [
                "f16b3242a77e5fc1"
            ]
        ]
    },
    {
        "id": "7c3ed754d8a48ce3",
        "type": "file",
        "z": "be797c4777cb20ac",
        "name": "CSV New File",
        "filename": "/tmp/smartenv.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 820,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "f16b3242a77e5fc1",
        "type": "file",
        "z": "be797c4777cb20ac",
        "name": "CSV Append",
        "filename": "/tmp/smartenv.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 820,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "66a77c68905bf939",
        "type": "http in",
        "z": "be797c4777cb20ac",
        "name": "GET /download-csv",
        "url": "/download-csv",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 1700,
        "wires": [
            [
                "1024abe623659786"
            ]
        ]
    },
    {
        "id": "1024abe623659786",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Build CSV Download",
        "func": "var hours  = parseInt(msg.req.query.hours) || 24;\nvar cutoff = Date.now() - hours * 3600000;\nvar log    = global.get('sensor_log') || [];\nvar rows   = log.filter(function(r) { return r.ts >= cutoff; });\nvar csv    = 'Timestamp,Temp_C,Humidity_pct,Light_raw,Motion,Distance_cm\\n';\nrows.forEach(function(r) {\n    csv += r.time + ',' + r.temp + ',' + r.hum + ',' +\n           r.light + ',' + r.motion + ',' + r.dist + '\\n';\n});\nmsg.payload = csv;\nmsg.headers = {\n    'Content-Type': 'text/csv',\n    'Content-Disposition': 'attachment; filename=\"smartenv_' + hours + 'h.csv\"'\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1700,
        "wires": [
            [
                "273350f34c866e29"
            ]
        ]
    },
    {
        "id": "273350f34c866e29",
        "type": "http response",
        "z": "be797c4777cb20ac",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 600,
        "y": 1700,
        "wires": []
    },
    {
        "id": "fd86163700daa4f4",
        "type": "ui_button",
        "z": "be797c4777cb20ac",
        "name": "Last 1h",
        "group": "grp_history",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Last 1h",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 1020,
        "y": 1240,
        "wires": [
            [
                "6b6f1135962d16f1"
            ]
        ]
    },
    {
        "id": "d0298f70caf8e5de",
        "type": "ui_button",
        "z": "be797c4777cb20ac",
        "name": "Last 6h",
        "group": "grp_history",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Last 6h",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "6",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 960,
        "y": 1340,
        "wires": [
            [
                "6b6f1135962d16f1"
            ]
        ]
    },
    {
        "id": "901067f34752bb4f",
        "type": "ui_button",
        "z": "be797c4777cb20ac",
        "name": "Last 24h",
        "group": "grp_history",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Last 24h",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "24",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 960,
        "y": 1400,
        "wires": [
            [
                "6b6f1135962d16f1"
            ]
        ]
    },
    {
        "id": "6b6f1135962d16f1",
        "type": "function",
        "z": "be797c4777cb20ac",
        "name": "Filter History",
        "func": "var hours  = parseInt(msg.payload) || 1;\nvar cutoff = Date.now() - hours * 3600000;\nvar log    = global.get('sensor_log') || [];\nvar rows   = log.filter(function(r) { return r.ts >= cutoff; });\n\nnode.send({ payload: [], topic: 'Temperature' });\nnode.send({ payload: [], topic: 'Humidity' });\n\nrows.forEach(function(r) {\n    node.send({ payload: r.temp, topic: 'Temperature', x: r.ts });\n});\nrows.forEach(function(r) {\n    node.send({ payload: r.hum,  topic: 'Humidity',    x: r.ts });\n});\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 1300,
        "wires": [
            [
                "c3834567a881aa93"
            ]
        ]
    },
    {
        "id": "c3834567a881aa93",
        "type": "ui_chart",
        "z": "be797c4777cb20ac",
        "name": "Historical Chart",
        "group": "grp_history",
        "order": 4,
        "width": "12",
        "height": "4",
        "label": "Historical Trend",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "Click a time range button above",
        "dot": false,
        "ymin": 0,
        "ymax": 100,
        "removeOlder": 24,
        "removeOlderPoints": "500",
        "removeOlderUnit": "3600",
        "colors": [
            "#e74c3c",
            "#3498db"
        ],
        "outputs": 1,
        "x": 1480,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "71352bfe09ad9baf",
        "type": "ui_template",
        "z": "be797c4777cb20ac",
        "group": "grp_history",
        "name": "Download Links",
        "order": 5,
        "width": "12",
        "height": "1",
        "format": "<div style=\"display:flex;gap:8px;padding:4px 0\"><a href=\"/download-csv?hours=1\" target=\"_blank\" style=\"flex:1;display:block;background:#1976D2;color:#fff;text-align:center;padding:8px;border-radius:4px;text-decoration:none;font-weight:500;font-size:13px\">⬇ Last 1h CSV</a><a href=\"/download-csv?hours=6\" target=\"_blank\" style=\"flex:1;display:block;background:#1976D2;color:#fff;text-align:center;padding:8px;border-radius:4px;text-decoration:none;font-weight:500;font-size:13px\">⬇ Last 6h CSV</a><a href=\"/download-csv?hours=24\" target=\"_blank\" style=\"flex:1;display:block;background:#1976D2;color:#fff;text-align:center;padding:8px;border-radius:4px;text-decoration:none;font-weight:500;font-size:13px\">⬇ Last 24h CSV</a></div>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "x": 1280,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "broker1",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "NodeRED_SmartEnv_001",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "grp_sensors",
        "type": "ui_group",
        "name": "Sensor Readings",
        "tab": "tab_dash",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "grp_chart",
        "type": "ui_group",
        "name": "Live Chart",
        "tab": "tab_main",
        "order": 2,
        "disp": true,
        "width": "12"
    },
    {
        "id": "grp_alert",
        "type": "ui_group",
        "name": "Alert History",
        "tab": "tab_alerts",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "grp_telegram",
        "type": "ui_group",
        "name": "Telegram Notifications",
        "tab": "tab_data",
        "order": 2,
        "disp": true,
        "width": "12"
    },
    {
        "id": "grp_manual",
        "type": "ui_group",
        "name": "Manual Override",
        "tab": "tab_control",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "grp_thresh",
        "type": "ui_group",
        "name": "Thresholds",
        "tab": "tab_control",
        "order": 2,
        "disp": true,
        "width": "12"
    },
    {
        "id": "grp_status",
        "type": "ui_group",
        "name": "ESP32 Info",
        "tab": "tab_status",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "grp_history",
        "type": "ui_group",
        "name": "Historical Trends",
        "tab": "tab_data",
        "order": 1,
        "disp": true,
        "width": "12"
    },
    {
        "id": "tab_dash",
        "type": "ui_tab",
        "name": " Dashboard ",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "tab_main",
        "type": "ui_tab",
        "name": "Dashboard Live",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "tab_alerts",
        "type": "ui_tab",
        "name": "Alerts",
        "icon": "warning",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "tab_data",
        "type": "ui_tab",
        "name": "Data & Notifications",
        "icon": "storage",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "tab_control",
        "type": "ui_tab",
        "name": "Control",
        "icon": "settings",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "tab_status",
        "type": "ui_tab",
        "name": "Status",
        "icon": "wifi",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a1979024e0b08682",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-ui-table": "0.4.5"
        }
    }
]
